<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Menu Planner{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="logo" onclick="window.location.href='/'">Menu Planner</div>
        <div class="auth-buttons">
            {% if login -%}
            <button class="btn btn-secondary" onclick=window.location.href="{{ url_for('routes.login') }}">Login</button>
            {% endif -%}
            {% if signup -%}
            <button class="btn btn-primary" onclick=window.location.href="{{ url_for('routes.register') }}">Sign Up</button>
            {% endif -%}
            {% if logout -%}
            <button class="btn logout-btn" onclick=window.location.href="{{ url_for('routes.logout') }}">Logout</button>
            {% endif -%}
        </div>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock -%}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; Menu Planner 2024</p>
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/scripts/scripts.js"></script>
</body>
</html>
