{% extends "base.html" %}
{% block title %}Login - Menu Planner{% endblock %}
{% block content %}
    <main class="main-content d-flex justify-content-center align-items-center vh-200">
        <div class="container text-center">
            <form class="auth-form bg-white shadow rounded p-4" action="" method="post">
                {{ form.hidden_tag() }}
                <h2 class="mb-3">Login</h2>
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=40) }}
                    {% for error in form.username.errors %}
                    <br><span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=40) }}
                    {% for error in form.password.errors %}
                    <br><span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </form>
            <div class="mt-3">
                <p>Don't have an account? <a href="{{ url_for('routes.register') }}" class="text-decoration-none">Register.</a></p>
                <p><a href="{{ url_for('routes.weeks') }}" class="text-decoration-none">Forgot your password?</a></p>
            </div>
        </div>
    </main>
{% endblock %}
