<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Menu Planner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <!-- Header Section -->
    <header class="d-flex justify-content-between align-items-center px-4">
        <div class="logo" onclick="window.location.href='/'">Menu Planner</div>
<!--        <div class="auth-buttons">-->
<!--            <button class="btn btn-primary" onclick="window.location.href='/login'">Login</button>-->
<!--            <button class="btn btn-secondary" onclick="window.location.href='/register'">Sign Up</button>-->
<!--        </div>-->
    </header>

    <!-- Main Content Section -->
    <main class="main-content d-flex justify-content-center align-items-center vh-100">
        <div class="container text-center">
            <form class="auth-form bg-white shadow rounded p-4">
                <h2 class="mb-3">Sign Up</h2>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" name="email" class="form-control email" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input id="username" name="username" class="form-control username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" class="form-control password" required>
                </div>
                <button class="btn btn-primary btn-lg" onclick="handleRegistration()">Register!</button>
                <div class="container text-center">
                    <p class="error-block text-red"></p>
                </div>
            </form>
        </div>
    </main>

    <!-- Footer Section -->
    <footer class="text-center">
        <p>&copy; Menu Planner 2024</p>
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="scripts/register.js"></script>
</body>
</html>
